## DataFrame

In [1]:
import numpy as np
import pandas as pd

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

#### from dict of Series

In [2]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

In [3]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [4]:
pd.DataFrame(d, index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [5]:
pd.DataFrame(d, index=['d','b','a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

**Note:** When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [6]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
df.columns

Index(['one', 'two'], dtype='object')

**Note:** DataFrame is not intended to work exactly like a 2-dimensional NumPy ndarray.

#### from a list of dicts

In [8]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [9]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [10]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [11]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

#### transmute

If you pass orient='index', the keys will be the row labels. But in this case you must also pass the desired column names:

In [12]:
pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6])],
                        orient='index', columns=['one', 'two', 'three'])

   one  two  three
A    1    2      3
B    4    5      6

#### Column selection, addition, deletion

In [13]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [14]:
df['three'] = df['one'] * df['two']

In [15]:
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    4.0
c  3.0  3.0    9.0
d  NaN  4.0    NaN

In [16]:
df['flag']= df['one'] > 2

In [17]:
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [18]:
df[df['one'] > 2]

   one  two  three  flag
c  3.0  3.0    9.0  True